## Linear Regression project : (Boston House price prediction)

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [1]:
NAME = ""
COLLABORATORS = ""

##### Project introduction: 

In this project, you will evaluate the performance and predictive power of a model that has been trained and tested on data collected from homes in suburbs of Boston, Massachusetts.

Boston housing dataset is one of the most famous data to work with and start your journey into the actual world of real world machine learning. The Boston Housing Dataset is a derived from information collected by the U.S. Census Service concerning housing in the area of Boston MA. 

The dataset Comprises of 14 different variables pertaining to the house price and related factors for Boston. A brief description about the individual variables of the data set is given below.

The dataset for this project originates from the UCI Machine Learning Repository. The Boston housing data was collected in 1978 and each of the 506 entries represent aggregated data about 14 features for homes from various suburbs in Boston, Massachusetts.

### Project Objective : 

Your objective is to develop a linear regression model by selecting the proper set of variables which 
will predict the house prices in this region. you will be using sklearn package for building the linear regression. 

On a stepwise manner there would be first some basic data analysis ; followed by identification of important variables ; selecting variables based on multicolinearity (VIF) and then finally the model development.

#### Data (Variables) description :

#CRIM - per capita crime rate by town
#ZN: proportion of residential land zoned for lots over 25,000 sq.ft.
#INDUS: proportion of non-retail business acres per town
#CHAS: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
#NOX: nitric oxides concentration (parts per 10 million)
#RM: average number of rooms per dwelling
#AGE: proportion of owner-occupied units built prior to 1940
#DIS: weighted distances to Ô¨Åve Boston employment centers
#RAD: index of accessibility to radial highways
#TAX: full-value property-tax rate per USD 10,000
#PTRATIO: pupil-teacher ratio by town 12. 
#B: proportion of blacks by town 
#LSTAT: percent of  lower status of the population
#MEDV (y value or price) : Median value of owner-occupied homes in $1000s

###  Read data , get understanding of the data set. Extract boston data with load_boston() from sklearn datasets

In [2]:
#Load data :
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
import warnings
warnings.filterwarnings('ignore')

# load data
boston = load_boston()
X = pd.DataFrame(boston.data, columns=boston.feature_names)
X.drop('CHAS', axis=1, inplace=True)
y = pd.Series(boston.target, name='MEDV')

# inspect data
X.head()

,CRIM,ZN,INDUS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

### Q1.a. Create a data frame called boston_df from the above loaded data and then concatenate y or media price with boston_df. Rename this new dataframe as boston_df as well. Return the final dataframe (*)

In [3]:
def create_boston_df():
    ##Your code here 
    df1=pd.DataFrame(boston.data,columns=boston.feature_names)
    y = pd.Series(boston.target, name='MEDV')
    df2=pd.concat([df1,y],axis=1)
    return df2

boston_df=create_boston_df ()
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

### Q1.b. Read the data "boston_df.csv" as provided and then store the csv file udner a dataframe named as  boston_df. Return the final dataframe (*)

In [13]:
def read_boston_df():
    ##Your code here 
    df2=pd.read_csv("C:/Users/KINSUK/Desktop/DS_Teaching/imocha_assignment/Linear_Regression_Project/boston_df.csv")
    return df2

boston_df=read_boston_df()

boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

### Q2. Report the length and widht of the data in terms of rows and columns : (**)

In [14]:
def length_data():
    # YOUR CODE HERE
    return boston_df.shape[0]

def width_data():
    # YOUR CODE HERE
    return boston_df.shape[1]

In [15]:
## Test Case : 
assert 506 == length_data()
assert 14 == width_data()

### Q3. Convert two variables CHAS and RAD to categorical form and store in original data frame called boston_df. Then count number of numerical and categorical variables in the data frame ? (**)

In [16]:
def convert_categ():
    # YOUR CODE HERE
    boston_df['CHAS'] = boston_df['CHAS'].astype('category')
    boston_df['RAD'] = boston_df['RAD'].astype('category')
    return boston_df 

def count_categ () :
     # YOUR CODE HERE
    return boston_df.dtypes.value_counts()
        
def report_categ():
    ## Report total number of categorical columns in the data frame boston_df
    return 2

boston_df=convert_categ()

count_categ()

float64     11
category     1
int64        1
category     1
dtype: int64

In [17]:
#Test case : 
assert 2 == report_categ()

In [18]:
boston_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    category
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    category
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: category(2), float64(11), int64(1)
memory usage: 49.0 KB

### Q4. What is the highest and average value nitric oxides concentration (Nox) in Boston ? (**)

In [19]:
def highest_Nox():
    # YOUR CODE HERE
    return boston_df['NOX'].max() 


def mean_NOX():
    # YOUR CODE HERE
    return boston_df['NOX'].mean()

In [28]:
mean_NOX()

0.5546950592885372

In [23]:
## Test Cases :
assert 0.871==highest_Nox()
assert 0.5546950592885372==mean_NOX()

### Q5.What is the average price of house at the Boston area ?  (**)

In [24]:
def avg_price():
    # YOUR CODE HERE
    return boston_df['MEDV'].mean() 

avg_price()

22.532806324110698

In [25]:
## Test Case :
assert 22.532806324110698==avg_price()

### Q6. What's the median property age in Boston area ?  (**)

In [26]:
def median_prop_age():
    # YOUR CODE HERE
    return boston_df['AGE'].median() 

median_prop_age()

77.5

In [27]:
## Test Case :
assert 77.5==median_prop_age()

## 2. Identify important variables in terms of corelation with price :

### Q7. Find out and report top two variables of numeric class having highest corelation with the median price ? (**)

In [22]:
def top_cor_vars():
    # YOUR CODE HERE
    X = boston_df.select_dtypes(include=np.number)
    df_corr=pd.DataFrame(X.drop("MEDV", axis=1).apply(lambda x: x.corr(X.MEDV))).reset_index()
    df_corr.columns = ['Variable', 'Corelation']
    df_corr_sorted=df_corr.sort_values(by=['Corelation'], ascending=False)
    return df_corr_sorted.iloc[0:2,0].tolist()
    
top_cor_vars()

['RM', 'ZN']

In [23]:
## Test Case :
assert ['RM','ZN']==top_cor_vars()

## 3. Feature engineering :

## Note on VIF : 

Multicollinearity creates a problem in the multiple regression because the inputs are all influencing each other. Therefore, they are not actually independent, and it is difficult to test how much the combination of the independent variables affects the dependent variable, or outcome, within the regression model.

Variance inflation factor (VIF) is a measure of the amount of multicollinearity in a set of multiple regression variables. Mathematically, the VIF for a regression model variable is equal to the ratio of the overall model variance to the variance of a model that includes only that single independent variable. This ratio is calculated for each independent variable. A high VIF indicates that the associated independent variable is highly collinear with the other variables in the model.

### Q8.a. Write a function that will take only the numeric variables and will calculate VIF for each variable and will drop variables having VIF higher than 4. Report the final list of variables (**)

In [24]:
from statsmodels.stats.outliers_influence import variance_inflation_factor   


def calculate_vif_(thresh=4.0):
    
    ## your Code Here
    
    X = boston_df.select_dtypes(include=np.number).drop('MEDV', axis=1)
    variables = list(range(X.shape[1]))
    dropped = True
    while dropped:
        dropped = False
        vif = [variance_inflation_factor(X.iloc[:, variables].values, ix)
               for ix in range(X.iloc[:, variables].shape[1])]

        maxloc = vif.index(max(vif))
        if max(vif) >= thresh:
            del variables[maxloc]
            dropped = True

    print(X.columns[variables])
    return pd.DataFrame(X.iloc[:, variables]).columns.tolist()


    
calculate_vif_()

Index(['CRIM', 'ZN', 'INDUS', 'DIS'], dtype='object')

['CRIM', 'ZN', 'INDUS', 'DIS']

In [25]:
## Test case : 
assert ['CRIM', 'ZN', 'INDUS', 'DIS'] == calculate_vif_()

Index(['CRIM', 'ZN', 'INDUS', 'DIS'], dtype='object')

### Q8.b. Count the number of continuous variables which passed the VIF checks and report the number ? (**)

In [27]:
def count_vif_passed ():
    ## Your code Here 
    return len(calculate_vif_())

count_vif_passed()

Index(['CRIM', 'ZN', 'INDUS', 'DIS'], dtype='object')

4

In [28]:
## Test Case :
assert 4==count_vif_passed()

Index(['CRIM', 'ZN', 'INDUS', 'DIS'], dtype='object')

### Q9. Take the final list of variable from the Q8 and then add the two categorical variables 'CHAS and 'REF' back to the list ? Create this list and report the total number of final variables.  (**)

In [29]:

def final_var_list_prep() :
    ## YOUR CODE 
    final_var_list=calculate_vif_() + ['CHAS']+['RAD']
    return final_var_list




def final_var_counts():
    ## YOUR CODE
    return len(final_var_list_prep())

final_var_counts()

Index(['CRIM', 'ZN', 'INDUS', 'DIS'], dtype='object')

6

In [30]:
## Test case :
6 == final_var_counts()

Index(['CRIM', 'ZN', 'INDUS', 'DIS'], dtype='object')

True

### Q10.a. Prepare the final dataset with all numeric and categorical variables and store the result under the name boston_df_final (*)

In [31]:
def final_dataframe_model () :
    boston_df_final=boston_df[final_var_list_prep()]
    return boston_df_final

final_dataframe_model()

boston_df_final=final_dataframe_model()

Index(['CRIM', 'ZN', 'INDUS', 'DIS'], dtype='object')
Index(['CRIM', 'ZN', 'INDUS', 'DIS'], dtype='object')

In [32]:
boston_df_final.head()

      CRIM    ZN  INDUS     DIS CHAS  RAD
0  0.00632  18.0   2.31  4.0900  0.0  1.0
1  0.02731   0.0   7.07  4.9671  0.0  2.0
2  0.02729   0.0   7.07  4.9671  0.0  2.0
3  0.03237   0.0   2.18  6.0622  0.0  3.0
4  0.06905   0.0   2.18  6.0622  0.0  3.0

### Q10.b. Report total number of different categorical levels the variable 'RAD' has ? (**)

In [45]:
def unique_rad():
    ## Your Code Here
    return len(boston_df_final.RAD.unique())
unique_rad()

9

In [46]:
## Test Case :
assert 9==unique_rad()

### Q10.c. Report total number of different categorical levels the variable 'CHAS' has ? (**)

In [47]:
def unique_chas():
    ## Your Code Here
    return len(boston_df_final.CHAS.unique())
unique_chas()

2

In [48]:
## Test Case :
assert 2==unique_chas()

### Q10.d. Convert the two categorical variables in bostong_df_final to the dummy form and save the results under the name boston_df_final_2. (*)

In [33]:
def convert_ceteg_to_dummy() : 
    ## YOUR CODE HERE 
    boston_df_final['CHAS'] = boston_df_final['CHAS'].astype('category')
    boston_df_final['RAD'] = boston_df_final['RAD'].astype('category')
    boston_df_final2 = pd.get_dummies(boston_df_final,columns = ['CHAS', 'RAD'])
    return boston_df_final2

convert_ceteg_to_dummy()

boston_df_final2=convert_ceteg_to_dummy().copy()

In [39]:
boston_df_final2

,CRIM,ZN,INDUS,DIS,CHAS_0.0,CHAS_1.0,RAD_1.0,RAD_2.0,RAD_3.0,RAD_4.0,RAD_5.0,RAD_6.0,RAD_7.0,RAD_8.0,RAD_24.0
0,0.00632,18.0,2.31,4.0900,1,0,1,0,0,0,0,0,0,0,0
1,0.02731,0.0,7.07,4.9671,1,0,0,1,0,0,0,0,0,0,0
2,0.02729,0.0,7.07,4.9671,1,0,0,1,0,0,0,0,0,0,0
3,0.03237,0.0,2.18,6.0622,1,0,0,0,1,0,0,0,0,0,0
4,0.06905,0.0,2.18,6.0622,1,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,2.4786,1,0,1,0,0,0,0,0,0,0,0
502,0.04527,0.0,11.93,2.2875,1,0,1,0,0,0,0,0,0,0,0
503,0.06076,0.0,11.93,2.1675,1,0,1,0,0,0,0,0,0,0,0
504,0.10959,0.0,11.93,2.3889,1,0,1,0,0,0,0,0,0,0,0
505,0.04741,0.0,11.93,2.5050,1,0,1,0,0,0,0,0,0,0,0

### Q 10.e. Report the total number of variables going into modeling finally from boston_df_final2 ? (**)

In [49]:
def final_vars_count():
    # YOUR CODE HERE 
    return convert_ceteg_to_dummy().shape[1]   

final_vars_count()

15

In [50]:
## Test Case : 
15 == final_vars_count()

True

## 4. Final model development :

### Q11.Fit a linear regression model using LinearRegression function from sklearn. Name the dependent variable y = 'MEDV' from the original data set and treat the entire "boston_df_final2" data frame as your independent variable space. Train the model first. (*)

In [51]:
# Fit the model on trainign set :
from sklearn.linear_model import LinearRegression

def lin_reg_train():
    X=boston_df_final2.copy()
    y=boston_df[['MEDV']]
    lin_reg = LinearRegression()
    lin_reg.fit(X, y)
    return lin_reg
#     print(f'Coefficients: {lin_reg.coef_}')
# print(f'Intercept: {lin_reg.intercept_}')
# print(f'R^2 score: {lin_reg.score(X, y)}')

lin_reg_train()

LinearRegression()

### Q12. Determine the coefficient of the variable Indus (**)

In [67]:
def lin_reg_coef():
    ## YOUR CODE HERE 
#     return lin_reg_train().coef_
#     return print(list(zip(X[['INDUS']].columns.tolist(),lin_reg_train().coef_[0])))
      return lin_reg_train().coef_[0][0]

lin_reg_coef()

-0.2552212861537601

In [68]:
##Test case :
assert -0.2552212861537601==lin_reg_coef()

### Q13. Determine the intercept of the model lin_reg_train() as defined in Q11 (**)

In [59]:
def lin_reg_intercept():
    ## YOUR CODE HERE 
#     return lin_reg_train().coef_
    return lin_reg_train().intercept_.item()  ## Convert Array output to float 

lin_reg_intercept()

37.26941707356421

In [60]:
##Test case :
assert 37.26941707356421==lin_reg_intercept()

### Q14. Report the fitted R^2 for this model  (**)

In [38]:
def lin_reg_rsq():
    ## YOUR CODE HERE 
#     return lin_reg_train().coef_
    return print(lin_reg_train().score(X,y))

lin_reg_rsq()

0.4331212499689998

In [ ]:
## Test Case : 
assert 0.4331212499689998<=lin_reg_rsq()